.fullpage
  width 100%
  height 100%
  transition: transform 1.5s ease
  >.fullpage__item
    width 100%
    height 100%
    line-height 700px
    text-align center
    font-size 48px
    color #fff
    &:nth-child(1)
      background-color #00a862
    &:nth-child(2)
      background-color #039be5
    &:nth-child(3)
      background-color #ff4444
    &:nth-child(4)
      background-color #ffd600
  >.active
    z-index 2
